.a {
  border: 5px solid black;
}

.b {
  border: 10px solid yellow;
}

.c {
  height: 60px;
  background-color: red;
}

.d {
  height: 60px;
  background-color: blue;
}

.e {
  height: 60px;
  background-color: aqua;
}

.f {
  height: 60px;
  background-color: brown;
}

.g {
  height: 60px;
  background-color: gold;
}

.h {
}

.h {
  height: 60px;
  background-color: green;
}

.i {
  height: 60px;
  background-color: indigo;
}

.j {
  height: 60px;
  background-color: magenta;
}

.k {
  height: 60px;
  background-color: maroon;
}

.l {
  height: 60px;
  background-color: olive;
}

.m {
  height: 60px;
  background-color: purple;
}

.n {
  height: 60px;
  background-color: salmon;
}

.e {
  height: 60px;
  background-color: aqua;
}

.f {
  height: 60px;
  background-color: brown;
}

.g {
  height: 60px;
  background-color: gold;
}

.h {
  height: 60px;
  background-color: green;
}

.i {
  height: 60px;
  background-color: indigo;
}

.j {
  height: 60px;
  background-color: magenta;
}

.k {
  height: 60px;
  background-color: maroon;
}

.l {
  height: 60px;
  background-color: olive;
}

.m {
  height: 60px;
  background-color: purple;
}

.n {
  height: 60px;
  background-color: salmon;
}

.e {
  height: 60px;
  background-color: aqua;
}

.f {
  height: 60px;
  background-color: brown;
}

.g {
  height: 60px;
  background-color: gold;
}

.h {
  height: 60px;
  background-color: green;
}

.i {
  height: 60px;
  background-color: indigo;
}

.j {
  height: 60px;
  background-color: magenta;
}

.k {
  height: 60px;
  background-color: maroon;
}

.l {
  height: 60px;
  background-color: olive;
}

.m {
  height: 60px;
  background-color: purple;
}

.n {
  height: 60px;
  background-color: salmon;
}

.e {
  height: 60px;
  background-color: aqua;
}

.f {
  height: 60px;
  background-color: brown;
}

.g {
  height: 60px;
  background-color: gold;
}

.h {
  height: 60px;
  background-color: green;
}

.i {
  height: 60px;
  background-color: indigo;
}

.j {
  height: 60px;
  background-color: magenta;
}

.k {
  height: 60px;
  background-color: maroon;
}

.l {
  height: 60px;
  background-color: olive;
}

.m {
  height: 60px;
  background-color: purple;
}

.n {
  height: 60px;
  background-color: salmon;
}

.e {
  height: 60px;
  background-color: aqua;
}

.f {
  height: 60px;
  background-color: brown;
}

.g {
  height: 60px;
  background-color: gold;
}

.h {
  height: 60px;
  background-color: green;
}

.i {
  height: 60px;
  background-color: indigo;
}

.j {
  height: 60px;
  background-color: magenta;
}

.k {
  height: 60px;
  background-color: maroon;
}

.l {
  height: 60px;
  background-color: olive;
}

.m {
  height: 60px;
  background-color: purple;
}

.n {
  height: 60px;
  background-color: salmon;
}

.e {
  height: 60px;
  background-color: aqua;
}

